<h1>{{title}}</h1>

<p>Being the <strong>parent</strong> application of <code>@spremi/svg-icon</code>,
it uses <strong>relative</strong> import. It is quite useful during development.</p>

<h2>Basic usage</h2>
<h3>Use icons as-is</h3>

<div class="box">
  <span>
    <ang-svg-icon url="/assets/ic_apps_24px.svg"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_close_24px.svg"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_memory_24px.svg"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_grade_24px.svg"></ang-svg-icon>
  </span>
</div>

<h3>Specify original size</h3>

<div class="box">
  <span>
    <ang-svg-icon url="/assets/ic_apps_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_close_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_memory_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_grade_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
</div>

<h3>Specify different size</h3>

<div class="box">
  <span>
    <ang-svg-icon url="/assets/ic_apps_24px.svg" width="16" height="16"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_close_24px.svg" width="32" height="32"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_memory_24px.svg" width="20" height="20"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_grade_24px.svg" width="40" height="40"></ang-svg-icon>
  </span>
</div>

<h3>Specify scaling factor</h3>

<div class="box">
  <span>
    <ang-svg-icon url="/assets/ic_apps_24px.svg" scale="1"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_close_24px.svg" scale="2"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_memory_24px.svg" scale="3"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_grade_24px.svg" scale="4"></ang-svg-icon>
  </span>
</div>

<h3>Inherit fill color</h3>

<div class="box">
  <span style="fill: seagreen">
    <ang-svg-icon url="/assets/ic_apps_24px.svg"></ang-svg-icon>
  </span>
  <span style="fill:salmon">
    <ang-svg-icon url="/assets/ic_close_24px.svg"></ang-svg-icon>
  </span>
  <span style="fill: dodgerblue">
    <ang-svg-icon url="/assets/ic_memory_24px.svg"></ang-svg-icon>
  </span>
  <span style="fill: olive">
    <ang-svg-icon url="/assets/ic_grade_24px.svg"></ang-svg-icon>
  </span>
</div>

<h3>Specify different sizes & Inherit fill color</h3>

<div class="box">
  <span style="fill: indigo">
    <ang-svg-icon url="/assets/ic_apps_24px.svg" width="48" height="48"></ang-svg-icon>
  </span>
  <span style="fill: maroon">
    <ang-svg-icon url="/assets/ic_close_24px.svg" width="64" height="64"></ang-svg-icon>
  </span>
  <span style="fill: orangered">
    <ang-svg-icon url="/assets/ic_memory_24px.svg" width="72" height="72"></ang-svg-icon>
  </span>
  <span style="fill: teal">
    <ang-svg-icon url="/assets/ic_grade_24px.svg" width="96" height="96"></ang-svg-icon>
  </span>
</div>

<h2>Advanced usage </h2>

<h3>Error icon - Set during initialization</h3>

<p>See <code>app.module.ts</code> to view related changes.</p>

<div class="box">
  <span>
    <ang-svg-icon url="/assets/err1.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err2.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="24" height="24"></ang-svg-icon>
  </span>
</div>

<h3>Error icon - Set during initialization (different sizes)</h3>

<div class="box">
  <span>
    <ang-svg-icon url="/assets/err1.svg" width="16" height="16"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err2.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="32" height="32"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="48" height="48"></ang-svg-icon>
  </span>
</div>

<div class="box">
  <span>
    <ang-svg-icon url="/assets/err1.svg" width="64" height="64"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err2.svg" width="96" height="96"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="128" height="128"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="144" height="144"></ang-svg-icon>
  </span>
</div>

<h3>Error icon - Changed at run-time</h3>
<p>...only to demonstrate that error icon & fill can be changed at run-time.</p>

<ng-container
  *ngIf="errIconChanged; then showIcons; else countDown">
</ng-container>

<ng-template #showIcons>
  <div class="box" *ngIf="errIconChanged">
    <span>
      <ang-svg-icon url="/assets/err.svg" width="32" height="32"></ang-svg-icon>
    </span>
    <span>
      <ang-svg-icon url="/assets/err.svg" width="64" height="64"></ang-svg-icon>
    </span>
    <span>
      <ang-svg-icon url="/assets/err.svg" width="40" height="40"></ang-svg-icon>
    </span>
    <span>
      <ang-svg-icon url="/assets/err.svg" width="80" height="80"></ang-svg-icon>
    </span>
  </div>
</ng-template>

<ng-template #countDown>
  <p class="counter">The icon shall change in <strong>{{count}}</strong> seconds...</p>
</ng-template>
