<h1>ang-svg-icon</h1>
<p>Uses library <code>@spremi/svg-icon</code> (imported locally).</p>

<h2>Basic usage - Default size</h2>

<div class="box">
  <span>
    <ang-svg-icon url="/assets/ic_apps_24px.svg"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_close_24px.svg"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_memory_24px.svg"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_grade_24px.svg"></ang-svg-icon>
  </span>
</div>

<h2>Basic usage - Specify size</h2>

<div class="box">
  <span>
    <ang-svg-icon url="/assets/ic_apps_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_close_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_memory_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/ic_grade_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
</div>

<h2>Custom fill colors</h2>

<div class="box">
  <span style="fill: seagreen">
    <ang-svg-icon url="/assets/ic_apps_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span style="fill:salmon">
    <ang-svg-icon url="/assets/ic_close_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span style="fill: dodgerblue">
    <ang-svg-icon url="/assets/ic_memory_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span style="fill: olive">
    <ang-svg-icon url="/assets/ic_grade_24px.svg" width="24" height="24"></ang-svg-icon>
  </span>
</div>

<h2>Icons (on error)</h2>
<div class="box">
  <span>
    <ang-svg-icon url="/assets/err1.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err2.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="24" height="24"></ang-svg-icon>
  </span>
</div>

<h2>Icons (on error, different sizes) </h2>
<div class="box">
  <span>
    <ang-svg-icon url="/assets/err1.svg" width="16" height="16"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err2.svg" width="24" height="24"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="32" height="32"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="48" height="48"></ang-svg-icon>
  </span>
</div>

<div class="box">
  <span>
    <ang-svg-icon url="/assets/err1.svg" width="64" height="64"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err2.svg" width="96" height="96"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="128" height="128"></ang-svg-icon>
  </span>
  <span>
    <ang-svg-icon url="/assets/err.svg" width="144" height="144"></ang-svg-icon>
  </span>
</div>
